
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #A59D84;
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
    height: 10vh;
  }

  .logo {
    font-size: 1.2rem;
    font-weight: bold;
    background-color: #ECEBDE;
    color: black ;
    cursor: pointer;
    padding: .5rem;
    border-radius: 3px;
  }


  .logo:hover{
    background-color: #A59D84;
  }
  
  .nav {
    display: flex;
    list-style: none;
    gap: 15px;
    margin: 0;
    padding: 0;
  }
  
  .navItem {
    font-size: 1rem;
    color: #555;
    cursor: pointer;
  }
  
  .navItem:hover {
    color: #000;
  }
  
  .loginButton {
    padding: 5px 10px;
    font-size: 1rem;
    background-color: #ECEBDE;
    color: black ;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .loginButton:hover {
    background-color: #A59D84;
  }
  